<div class="col-lg-12" style="margin-top: 34px;">

    <h4>DETALLE AUTOMÓVIL</h4>
    <div class="row">
        <div class="card" style="width: 100%;margin-right: 28px;margin-left: 15px;background-color: beige;">
            <div class="card-body">
                <div class="row">
                    <div class="dx-field col-lg-3">
                        <div style="font-weight: bold;" class="dx-field-label">MODELO</div>
                        <div class="dx-field-value">
                            <dx-text-box [readOnly]="true" [(value)]="Detailcars.model">
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field col-lg-3">
                        <div style="font-weight: bold;" class="dx-field-label">MARCA</div>
                        <div class="dx-field-value">
                            <dx-text-box [readOnly]="true" [(value)]="Detailcars.maker">
                            </dx-text-box>
                        </div>
                    </div>

                    <div class="dx-field col-lg-3">
                        <div style="font-weight: bold;" class="dx-field-label">AÑO</div>
                        <div class="dx-field-value">
                            <dx-number-box [readOnly]="true" [min]="0" [showSpinButtons]="false" [(value)]="Detailcars.year">
                            </dx-number-box>
                        </div>
                    </div>
                    <div class="dx-field col-lg-3">
                        <div style="font-weight: bold;" class="dx-field-label">CLIENTE</div>
                        <div class="dx-field-value">
                            <dx-text-box [readOnly]="true" [(value)]="Detailcars.client">
                            </dx-text-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <DIV class="col-lg-12">
            <h6 style="margin-top: 22px;">HISTORIAL DE REPARACIONES</h6>
            <div class="col-lg-12" style="text-align: right;">
                <button (click)="newreparations(template)" type="button" class="btn btn-primary">Ingresar reparación</button>
            </div>
            <div class="row">
                <div style="margin-top: 20px;" class="col-lg-12">
                    <dx-data-grid style="height: calc(100vh - 447px) !important" id="gridContainer" [dataSource]="reparations" [showBorders]="true" [showColumnLines]="true" [rowAlternationEnabled]="true" [hoverStateEnabled]="true" [allowColumnReordering]="true" [allowColumnResizing]="true"
                        keyExpr="carRepairID">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                        <dxi-column [allowFiltering]="true" [allowSorting]="true" dataField="carRepairID" caption="N° Reparación"></dxi-column>
                        <dxi-column [allowFiltering]="true" [allowSorting]="true" dataType="datetime" [format]="{ type: 'dd/MM/yyyy HH:mm a' }" dataField="entry" caption="F. Ingreso"></dxi-column>
                        <dxi-column [allowFiltering]="true" [allowSorting]="true" dataType="datetime" [format]="{ type: 'dd/MM/yyyy HH:mm a' }" dataField="departure" caption="F. Salida"></dxi-column>
                        <dxi-column [allowFiltering]="true" [allowSorting]="true" dataField="description" caption="Observación"></dxi-column>
                    </dx-data-grid>
                </div>
            </div>
        </DIV>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">INGRESAR REPARACIÓN</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">x</span>
       </button>
    </div>
    <dx-validation-group>
        <div class="modal-body">
            <div class="dx-field">
                <div class="dx-field-label">Taller</div>
                <div class="dx-field-value">
                    <dx-select-box [(value)]="reparation.workShopID" [items]="Workshops" Workshops displayExpr="name" valueExpr="workShopID" [showClearButton]="true" [searchEnabled]="true">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Taller Obligatorio">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Fecha Ingreso</div>
                <div class="dx-field-value">
                    <dx-date-box [(value)]="reparation.entry" [max]="now" type="datetime">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Fecha Ingreso obligatorio">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-date-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Fecha Salida (Aproximada)</div>
                <div class="dx-field-value">
                    <dx-date-box [min]="now" [(value)]="reparation.departure" type="datetime">
                    </dx-date-box>
                </div>
            </div>
            <div class="left-content">
                <dx-text-area [height]="90" [(value)]="reparation.description">
                </dx-text-area>
            </div>
        </div>
        <div class="modal-footer">
            <dx-button [useSubmitBehavior]="true" type="default" (onClick)="SaveReparation($event)" text="Guardar"></dx-button>
            <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cerrar</button>
        </div>
    </dx-validation-group>
</ng-template>