<div class="col-lg-12" style="margin-top: 34px;">
    <div style="display: flex;margin-bottom: 16px;">
        <div class="col-lg-6" style="text-align: left;">
            <h4>AUTOMÓVILES</h4>
        </div>
        <div class="col-lg-6" style="text-align: right;">
            <button (click)="newCars(template)" type="button" class="btn btn-primary">Crear automóvil</button>
        </div>
    </div>

    <div>
        <dx-data-grid style="height: calc(100vh - 177px) !important" id="gridContainer" [dataSource]="ViewCars" [showBorders]="true" [showColumnLines]="true" [rowAlternationEnabled]="true" [hoverStateEnabled]="true" [allowColumnReordering]="true" [allowColumnResizing]="true"
            keyExpr="carID">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-filter-panel [visible]="true"></dxo-filter-panel>
            <dxi-column [allowFiltering]="true" [allowSorting]="true" dataField="model" caption="Modelo"></dxi-column>
            <dxi-column [allowFiltering]="true" [allowSorting]="true" dataField="maker" caption="Marca"></dxi-column>
            <dxi-column [allowFiltering]="true" [allowSorting]="true" dataField="year" caption="Año Fabricación"></dxi-column>
            <dxi-column [allowFiltering]="true" [allowSorting]="true" dataField="client" caption="Pertenece a"></dxi-column>
            <dxi-column [allowFiltering]="false" [allowSorting]="false" caption="Opción" alignment="center" [width]="100" cellTemplate="cellTemplate">
            </dxi-column>

            <div *dxTemplate="let d of 'cellTemplate'; let itemIndex = index">
                <div>
                    <a title="Información" href='/detailcar/details?v={{d.data.carID}}' class="fa fa-search-plus fa-lg"></a>
                </div>

            </div>
        </dx-data-grid>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">INGRESAR AUTOMÓVIL</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">x</span>
       </button>
    </div>
    <dx-validation-group>
        <div class="modal-body">
            <div class="dx-field">
                <div class="dx-field-label">Modelo</div>
                <div class="dx-field-value">
                    <dx-text-box [(value)]="cars.Model">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Nombre Obligatorio">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="stringLength" [min]="1" message="debe tener minimo 4 caracteres">
                            </dxi-validation-rule>
                        </dx-validator>

                    </dx-text-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Marca</div>
                <div class="dx-field-value">
                    <dx-text-box [(value)]="cars.Maker">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Apellido Obligatorio">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="stringLength" [min]="4" message="debe tener minimo 4 caracteres">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
            </div>

            <div class="dx-field">
                <div class="dx-field-label">Año</div>
                <div class="dx-field-value">
                    <dx-number-box [min]="0" [showSpinButtons]="false" [(value)]="cars.Year">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Año Obligatorio">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-number-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Cliente</div>
                <div class="dx-field-value">
                    <dx-select-box [(value)]="cars.ClientID" [items]="ViewClients" Workshops displayExpr="fullName" valueExpr="clientID" [showClearButton]="true" [searchEnabled]="true">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Cliente Obligatorio">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <dx-button [useSubmitBehavior]="true" type="default" (onClick)="SaveCars($event)" text="Guardar"></dx-button>
            <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cerrar</button>
        </div>
    </dx-validation-group>
</ng-template>