<div class="col-lg-12" style="margin-top: 34px;">
    <div style="display: flex;margin-bottom: 16px;">
        <div class="col-lg-6" style="text-align: left;">
            <h4>CLIENTES</h4>
        </div>
        <div class="col-lg-6" style="text-align: right;">
            <button (click)="newClients(template)" type="button" class="btn btn-primary">Crear Cliente</button>
        </div>
    </div>
    <div>
        <dx-data-grid style="height: calc(100vh - 177px) !important" id="gridContainer" [dataSource]="ClientViews" [showBorders]="true" [showColumnLines]="true" [rowAlternationEnabled]="true" [hoverStateEnabled]="true" [allowColumnReordering]="true" [allowColumnResizing]="true"
            keyExpr="workshopClientID">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-filter-panel [visible]="true"></dxo-filter-panel>
            <dxi-column [allowFiltering]="true" [allowSorting]="true" dataField="name" caption="Nombre"></dxi-column>
            <dxi-column [allowFiltering]="true" [allowSorting]="true" dataField="lastName" caption="Apellido"></dxi-column>
            <dxi-column [allowFiltering]="true" [allowSorting]="true" dataField="workShop" caption="Taller"></dxi-column>
        </dx-data-grid>
    </div>

</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">INGRESAR CLIENTE</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">x</span>
       </button>
    </div>
    <dx-validation-group>
        <div class="modal-body">
            <div class="dx-field">
                <div class="dx-field-label">Nombre</div>
                <div class="dx-field-value">
                    <dx-text-box [(value)]="Client.Name">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Nombre Obligatorio">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="stringLength" [min]="4" message="debe tener minimo 4 caracteres">
                            </dxi-validation-rule>
                        </dx-validator>

                    </dx-text-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Apellido</div>
                <div class="dx-field-value">
                    <dx-text-box [(value)]="Client.LastName">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Apellido Obligatorio">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="stringLength" [min]="4" message="debe tener minimo 4 caracteres">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
            </div>

            <div class="dx-field">
                <div class="dx-field-label">Taller</div>
                <div class="dx-field-value">
                    <dx-select-box [(value)]="Client.WorkShopID" [items]="Workshops" Workshops displayExpr="name" valueExpr="workShopID" [showClearButton]="true" [searchEnabled]="true">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Taller Obligatorio">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <dx-button [useSubmitBehavior]="true" type="default" (onClick)="SaveClients($event)" text="Guardar"></dx-button>
            <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cerrar</button>
        </div>
    </dx-validation-group>
</ng-template>