<nav style="
background-color: #5c95c5!important;
" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand active" href="#">Taller Perez & Perez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/clients" routerLinkActive="active">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cars" routerLinkActive="active">Automoviles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/repairs" routerLinkActive="active">Reparaciones</a>
            </li>
        </ul>
    </div>
</nav>


<router-outlet></router-outlet>