<div class="col-lg-12" style="margin-top: 34px;">
    <div style="display: flex;margin-bottom: 16px;">
        <div class="col-lg-6" style="text-align: left;">
            <h4>REPARACIONES</h4>
        </div>
    </div>
    <div>
        <dx-data-grid style="height: calc(100vh - 177px) !important" id="gridContainer" [dataSource]="CarRepairViews" [showBorders]="true" [showColumnLines]="true" [rowAlternationEnabled]="true" [hoverStateEnabled]="true" [allowColumnReordering]="true" [allowColumnResizing]="true"
            keyExpr="carRepairID">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-filter-panel [visible]="true"></dxo-filter-panel>
            <dxi-column [allowFiltering]="true" [allowSorting]="true" dataField="carRepairID" caption="N° Reparación"></dxi-column>
            <dxi-column [allowFiltering]="true" [allowSorting]="true" dataField="client" caption="Cliente"></dxi-column>
            <dxi-column [allowFiltering]="true" [allowSorting]="true" dataField="nameCar" caption="Automovil"></dxi-column>
            <dxi-column [allowFiltering]="true" [allowSorting]="true" dataType="datetime" [format]="{ type: 'dd/MM/yyyy HH:mm a' }" dataField="entry" caption="F. Ingreso"></dxi-column>
            <dxi-column [allowFiltering]="true" [allowSorting]="true" dataType="datetime" [format]="{ type: 'dd/MM/yyyy HH:mm a' }" dataField="departure" caption="F. Salida"></dxi-column>
            <dxi-column [allowFiltering]="true" [allowSorting]="true" dataField="description" caption="Observación"></dxi-column>
        </dx-data-grid>
    </div>

</div>